# Environment variables
.env

# Python virtual environment
venv/

# Chroma vector database
chroma_db/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store